@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2 style="color:blue">Use this page to detail your site's privacy policy.</p>

    <ol>
        <li>Quy định về chia sẻ dữ liệu</li>
        <li>Thu thập dữ liệu người dùng</li>
    </ol>
