@{
    ViewData["Title"] = "Sản phẩm của chúng tôi";
}
<h1>@ViewData["Title"]</h1>

<h1 style="color:red">Sản phẩm, dịch vụ của chúng tôi.</h1>

<ul>
    <li><a href="https://ric.vn">Phần mềm quản lý bán hàng</a></li>
    <li>Phần mềm quản lý khách hàng</li>
</ul>
